.card {
    position: relative;
    width: 500px;
    height: 410px;
    background-color: #f2f2f2;
    background-size: cover;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: -500px;
    z-index: 111;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px #bbe1fa;
        height: 450px;
        width: 500px;
        margin-right: 10px;
    }
}
.cardImageDiv {
    display: inline-block;
    margin-left: 80px;
    z-index: 0;
    position: absolute;
    // right: 0;
}
.cardTitleOutSide {
    background-color: #3282b8;
    padding: 30px;
    color: white;
    border-radius: 10px;
    vertical-align: top;
    font-size: 30px;
    font-weight: 500;
    margin-top: 150px;
    display: inline-block;
}

// .title {
//     width: 40%;
//     padding: 60px;
//     margin: 40px;
//     vertical-align: top;
//     display: inline-block;
//     margin-top: 10px;
//     line-height: 1.5;
// }

.cardImage {
    object-fit: cover;
    height: 400px;
    width: 450px;
    z-index: 1;
    margin-left: 50px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.card:hover .cardImage {
    // display: flex;
    transform: translateX(500px);
}
.icon {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .card:hover & {
        transform: scale(0);
    }
}
.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cardContent {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: background-color 0.3s ease;
    .card:hover & {
        transform: rotateX(0deg);
        background-color: #f0f0f0;
    }
}

.cardTitle {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.cardDescription {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.detailContent {
    padding: 20px;
    text-align: left;
    // gap: 10px;
    background-color: #e0e0e0;
    margin-top: 5px;
    line-height: 1.5;
}

.button {
    background-color: #bbe1fa;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 2em;
    color: black;
    width: 10%;
    text-align: center;
    user-select: none;
    display: block;
    width: 60%;
    font-size: 2rem;
    margin-bottom: 0;
    &:hover {
        box-shadow: 0 0 1rem #12f7ff;
        background-color: #0f4c75;
        color: white;
        cursor: pointer;
    }
}
